{% extends 'base.html' %}
{% block content %}


    <div class="prediction-container">
        <div class="prediction-card shadow-lg">
            <div class="section__title--2 text-center mb-5">
                <h2>AI空气质量分析及预测<span class="title__line"></span></h2>
                <p>选择城市获取专业空气质量分析与建议</p>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-4">
                    <select name="city" class="form-control" id="city">
                        {% for city in cityList %}
                            <option value="{{ city }}" {% if city == select_city %}
                                    selected {% endif %}>{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">
                    开始分析
                </button>
            </form>
            {% if ai_response %}
               <div class="analysis-result">
                   <h4>{{ select_city }}空气质量分析报告</h4>
                   <div class="analysis-content"> {{ ai_response|linebreaks }}</div>
               </div>
            {% endif %}
        </div>
    </div>

{% endblock %}